.card {
    border-radius: 15px;
    /*  border: 5px solid #00C86F;
    box-shadow: inset 0px 0px 17px 8px #00C86F; */
    width: 25%;
    height: 300px;
    background-color: #000000;
    font-family: "Roboto";
}

.imagen {
    width: 99%;
    height: 80%;
    border-radius: 15px 15px 0 0;

}



.footer {

    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  

}


.footer button {
    border: none !important;
    padding: 0px !important;
    font-weight: bold !important;
 
}

.footer img{
    margin-right: 5px;
  
}

.footer button:hover {
    color: #2271D1;
    font-weight: bold;
    border: none !important;
    box-shadow: none !important;
    padding: 0px !important;
}