.categoria{
    width: 20%;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: 5%;
}

.name{
    color: white;
    font-size: 32px;
    font-weight: bolder;
    font-family: "Roboto";
   
}