.footer {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 4px #2271D1;
    box-shadow: 0px -4px 5px 0px #2271D1;
    padding: 42px;
}